@model Byldit.DataModel.SubmitEmail

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Byldit</title>

    <link rel="stylesheet" type="text/css" href="~/Content/emailform/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <script type="text/javascript" async="" src="~/Content/emailform/ga.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34240974-1']);
        _gaq.push(['_setDomainName', 'byld.it']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>
    <div class="outer">
        <div class="content">
            <img src="~/Content/emailform/byldit_logo.png" width="333" height="523">
            <div class="BYLDIT">
                BYLDIT
            </div>
            <br />
            <section id="loginForm">
                <div class="formtextdark">Do you want to let others know what types of businesses you want where you live? Are you an entrepreneur or business who wants to know what potential customers want?</div>
                <br />
                <div class="formtextdark">Byldit may be just what you need.</div>
                <br />
                <div class="formtextwhite">Submit your information to receive notifications about Byldit.</div>
                @using ( Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl } ) )
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary( true )

                    <div class="formleft">
                        <ol>
                            <li>
                                @Html.LabelFor( m => m.Name, new { @class = "formtextdark" } )
                                @Html.TextBoxFor( m => m.Name )
                                @Html.ValidationMessageFor( m => m.Name )
                                <br />
                            </li>
                            <li>
                                @Html.LabelFor( m => m.Email, new { @class = "formtextdark" } )
                                @Html.TextBoxFor( m => m.Email )
                                @Html.ValidationMessageFor( m => m.Email, string.Empty, new { @class = "formtextred" } )
                            </li>
                        </ol>
                    </div>
                    <div class="formright">
                        <input class="formbutton" type="submit" value="Submit" />
                    </div>
                }
                @if ( Model != null && Model.Submitted )
                {
                    <div class="formtextwhite" style="text-align: center">Thanks for your submission!</div>
                }
            </section>
        </div>
    </div>
    <div class="footer">
        <div class="footer_left">
            <p>&#169; 2013 Byldit</p>
        </div>
        <div class="footer_right">
            <ul>
                <li class="hide-mobile"><a href="https://twitter.com/byldit">@@byldit</a></li>
                <li><a href="http://byldit.tumblr.com">Blog</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
