@model Byldit.Web.Models.EmailModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Byldit</title>

    <link rel="stylesheet" type="text/css" href="~/Content/emailform/style.css">
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/style_ie7.css?011320121402" /><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <script type="text/javascript" async="" src="~/Content/emailform/ga.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34240974-1']);
        _gaq.push(['_setDomainName', 'byld.it']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body class="teaser-page" id="dummybodyid">



    @*<div class="bg"></div>*@
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <img src="~/Content/emailform/byldit_logo.png" width="444" height="553">
                <p>
                    BYLDIT
                </p>
                
                <br/>

                <section id="loginForm">
                    <div class="formtextdark">Do you want to let other know what types of businesses you want where you live?</div>                  
                    <div class="formtextdark">Are you an entrepreneur or business who wants to know what potential customers want?</div>
                    <div class="formtextdark">Byldit may be just what you need.</div>
                    <br/>
                    <div class="formtextwhite">Submit your information to receive notifications about Byldit.</div>
                    @using ( Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl } ) )
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary( true )

                        <fieldset>
                            @*<legend>Email Submission Form</legend>*@
                            <ol>
                                <li>
                                    @Html.LabelFor( m => m.Name, new { @class= "formtextdark" } )
                                    @Html.TextBoxFor( m => m.Name )
                                    @Html.ValidationMessageFor( m => m.Name )
                                </li>
                                <li>
                                    @Html.LabelFor( m => m.Email, new { @class= "formtextdark" } )
                                    @Html.TextBoxFor( m => m.Email )
                                    @Html.ValidationMessageFor( m => m.Email )
                                </li>
                            </ol>
                            <br/>
                            <input class="formbutton" type="submit" value="Submit" />
                        </fieldset>
                    }
                </section>
            </div>
        </div>
    </div>
    <footer>
        <p>&#169; 2013 Byldit</p>
        <ul>
            <li class="hide-mobile"><a href="https://twitter.com/byldit">@@byldit</a></li>
            <li><a href="http://byldit.tumblr.com">Blog</a></li>
        </ul>
    </footer>

    <div class="diigolet notice" id="diigolet-notice" style="display: none;">
        <div>
            <b>&nbsp;</b><p>Ok, done!</p>
            <span id="close"></span>
        </div>
    </div>
    <div id="diigolet-csm2" style="position: absolute; display: none;">
        <a id="diigolet-csm-highlight2" href="javascript:void(0);"></a><a id="diigolet-csm-search2" href="javascript:void(0);"></a>
        <div id="diigolet-csm-color"><a class="diigolet-csm-coloritem" id="diigolet-csm-yellow"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-blue"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-green"></a><a class="diigolet-csm-coloritem" id="diigolet-csm-pink"></a></div>
    </div>
</body>
</html>
